body {
    background-color: black;
    color: white;
}

.first-btn-section {
    display: flex;
    justify-content: center;
}

#first-button {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 10px #777777;
    cursor: pointer;
}

:hover#first-button {
    background-color: rgb(32, 32, 32);
    box-shadow: 2px 2px 10px #919191;
}

